.btn {
  text-transform: uppercase;
  cursor: pointer;
}
.btn-solid {
  border: 0;
}
.btn-small {
  padding: 1em;
}
.btn-default {
  padding: 1em 2em;
}
.btn-large {
  padding: 1em 3em;
}
.btn-full {
  padding-top: 1em;
  padding-bottom: 1em;
  width: 100%;
}
.btn-primary {
  background-color: var(--primary-bg-color);
}
.btn-danger {
  color: var(--danger);
}
.btn-warning {
  border-color: var(--warning);
}
.btn-font-primary {
  color: var(--primary-font-color);
}
.btn-font-danger {
  color: var(--danger);
}
.btn-font-warning {
  color: var(--warning);
}
.btn-outline {
  border-width: 1px;
  border-style: solid;
  background-color: transparent;
}
.btn-outline.btn-primary {
  border-color: var(--primary-font-color);
}
.btn-outline.btn-danger {
  border-color: var(--danger);
}
.btn-outline.btn-warning {
  border-color: var(--warning);
}
.btn-outline.btn-warning:hover {
  background-color: var(--warning);
  color: var(--dark);
}
.btn-outline.btn-danger:hover {
  background-color: var(--danger);
  color: var(--ligth);
}
