.about-card-list__container .about-card__image {
  top: -2em;
}

@media screen and (min-width: 800px) {
  .about-card-list__container .about-card-list__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .about-card-list__container .about-card:nth-child(even) {
    flex-direction: row-reverse;
  }
  .about-card-list__container .about-card:nth-child(odd) {
    flex-direction: row;
  }
  .about-card-list__container .about-card:nth-child(even) .about-card__aside {
    justify-content: flex-end;
  }
  .about-card-list__container .about-card:nth-child(odd) .about-card__aside {
    justify-content: flex-start;
  }

  .about-card-list__container .about-card:nth-child(even) .about-card__body {
    justify-content: flex-start;
  }
  .about-card-list__container .about-card:nth-child(odd) .about-card__body {
    justify-content: flex-end;
  }
  .about-card-list__container .about-card:first-child .about-card__image {
    top: -2em;
  }
  .about-card-list__container .about-card:last-child .about-card__image {
    top: 2em;
  }
}
