@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&display=swap");
:root {
  --dark: #000;
  --ligth: #fff;
  --danger: #dc3545;
  --warning: #ffc107;
  --primary-bg-color: #000;
  --primary-font-color: #fff;
  --primary-font-family: "Inter", sans-serif;
}
*,
::after,
::before {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: var(--primary-font-family);
  line-height: 1.7;
  font-size: 18px;
}
